In [71]:
# RESERVA COM CONFIRMAÇÃO e SCALPING AUTOMATICO
# COM MACD e SETUP 9.1

from datetime import datetime
import MetaTrader5 as mt5
import time
import telepot
import pytz

agora = datetime.now()
print(f'Buscando dados...{agora}')
# importamos o módulo pandas para exibir os dados recebidos na forma de uma tabela
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'


if not mt5.initialize(login=1092947504, server="ClearInvestimentos-DEMO", password="Joh0516"):
#if not mt5.initialize(login=54679378, server="MetaQuotes-Demo", password="hz7ulfri"):
    print("initialize() failed, error code =",mt5.last_error())
    quit()

# CRIAÇÃO DAS ORDENS ABERTURA E FECHAMENTO
symbol = "WINZ21"

print(symbol)
    
# CRIAÇÃO DOS CÁLCULOS (MÉDIAS)
timezone = pytz.timezone("Etc/UTC")
utc_from = datetime(2021, 12, 7, tzinfo=timezone)
rates = mt5.copy_rates_from(symbol, mt5.TIMEFRAME_M5, utc_from, 113)
rates_frame = pd.DataFrame(rates)
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
resumo = rates_frame[['time','open','close']]
resumo.tail()

Buscando dados...2021-12-06 15:09:25.815940
WINZ21

                   time      open     close
108 2021-12-06 14:45:00  107330.0  107530.0
109 2021-12-06 14:50:00  107525.0  107520.0
110 2021-12-06 14:55:00  107515.0  107715.0
111 2021-12-06 15:00:00  107715.0  107555.0
112 2021-12-06 15:05:00  107560.0  107490.0

In [77]:
resumo1 = resumo.tail()
#resumo1 = resumo[resumo['time'].between('2021-12-06 11:30:00', '2021-12-06 11:40:00')]
resumo1

                   time      open     close
108 2021-12-06 14:45:00  107330.0  107530.0
109 2021-12-06 14:50:00  107525.0  107520.0
110 2021-12-06 14:55:00  107515.0  107715.0
111 2021-12-06 15:00:00  107715.0  107555.0
112 2021-12-06 15:05:00  107560.0  107490.0

In [78]:
resumo = resumo1
if resumo1['close'].iloc[-1] > resumo1['close'].iloc[-2] > resumo1['close'].iloc[-3]:
    print('LTA')
elif resumo1['close'].iloc[-1] < resumo1['close'].iloc[-2] < resumo1['close'].iloc[-3]:
    print('LTB')
else:
    print('Consolidado(Lateralizado)')

LTB

In [24]:
LTAultimo = resumo['close'].iloc[-1]
LTApenultimo = resumo['close'].iloc[-2]
LTAantep = resumo['close'].iloc[-3]

LTBultimo = resumo['close'].iloc[-1]
LTBpenultimo = resumo['close'].iloc[-2]
LTBantep = resumo['close'].iloc[-3]

In [25]:
print(LTAultimo)
print(LTApenultimo)
print(LTAantep)
print('')
print(LTBultimo)
print(LTBpenultimo)
print(LTBantep)

107460.0
107425.0
107485.0

107460.0
107425.0
107485.0

In [26]:
LTA = LTAultimo > LTApenultimo > LTAantep
LTB = LTBultimo < LTBpenultimo < LTBantep

print(LTA)
print(LTB)

False
False