In [75]:
from datetime import datetime
import time
import telepot
import pytz
import yfinance as yf
import numpy as np

# importamos o módulo pandas para exibir os dados recebidos na forma de uma tabela
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'


#symbols = ['^BVSP','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA']
#symbols = ['^BVSP','USDBRL=X','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA','PETR3.SA','B3SA3.SA','ELET3.SA','ABEV3.SA','RENT3.SA','BBAS3.SA','WEGE3.SA','ITSA4.SA','SUZB3.SA','BPAC11.SA','HAPV3.SA','EQTL3.SA','GGBR4.SA','JBSS3.SA','RADL3.SA','PRIO3.SA','LREN3.SA','RDOR3.SA','RAIL3.SA','BBDC3.SA']
# SEM O DOLAR:
#symbols = ['^BVSP','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA','PETR3.SA','B3SA3.SA','ELET3.SA','ABEV3.SA','RENT3.SA','BBAS3.SA','WEGE3.SA','ITSA4.SA','SUZB3.SA','BPAC11.SA','HAPV3.SA','EQTL3.SA','GGBR4.SA','JBSS3.SA','RADL3.SA','PRIO3.SA','LREN3.SA','RDOR3.SA','RAIL3.SA','BBDC3.SA']

#for symbol in symbols: 
#print(symbol)

resumo2 = yf.download ('VALE3.SA', 
                   period = "1w",
                   start = '2022-10-02', 
                   end = '2022-10-29',
                   interval = "1D",
                   #group_by = 'ticker', ## poderá chamar df[ticker]
                   progress = False)

resumo = resumo2[['Open','Adj Close']] 
resumo['Variacao'] = ''
resumo['ALERTA'] = ''

#resumo
for x in range (1, len(resumo)):
    vol = resumo['Open'][x] - resumo['Adj Close'][x]
    resumo['Variacao'][x] = vol
    if resumo['Variacao'][x] < 0:
        r = resumo['Variacao'][x] * -1 #Convertendo numeros negativos em positivos
        resumo['Variacao'][x] = r
    if resumo['Variacao'][x] > 1.5:
        resumo['ALERTA'][x] = 'ATENCAO'
    
resumo

                 Open  Adj Close  Variacao   ALERTA
Date
2022-10-03  73.239998  74.000000
2022-10-04  74.199997  75.790001  1.590004  ATENCAO
2022-10-05  76.290001  76.959999  0.669998
2022-10-06  77.199997  75.230003  1.969994  ATENCAO
2022-10-07  75.360001  75.510002  0.150002
2022-10-10  76.410004  73.989998  2.420006  ATENCAO
2022-10-11  73.199997  73.489998  0.290001
2022-10-13  72.250000  72.180000      0.07
2022-10-14  72.610001  69.830002  2.779999  ATENCAO
2022-10-17  70.209999  70.930000  0.720001
2022-10-18  72.300003  71.959999  0.340004
2022-10-19  71.629997  71.110001  0.519997
2022-10-20  70.980003  72.019997  1.039993
2022-10-21  71.800003  74.129997  2.329994  ATENCAO
2022-10-24  73.269997  71.930000  1.339996
2022-10-25  71.610001  71.930000      0.32
2022-10-26  71.279999  73.529999      2.25  ATENCAO
2022-10-27  72.000000  70.910004  1.089996
2022-10-28  68.589996  67.349998  1.239998